body {
    background-color: #4d4444;
    font-family: courier, bold;
    max-width: 100%
}

#main {
    width: 90%;
    max-width: 950px;
    border: 5px black solid;
    margin: auto;
    padding: 10px;
    background-color: #262626;
    border-radius: 10px;
}

#header {
    max-width: 100% margin-top: 0;
    padding: 0px;
    height: 100px;
    background: #262626;
    color: #c3abab;
    font-style: bolder;
    border-radius: 3%;
}

#form1 {
    background-color:#262626;
    width: 100%;
    color: #ebe5e3;
    font-size: 100%
}

.logo img {
    border: 20px;
    padding: 20px;
    opacity: 80%;
}


hr {
  height:0;
  border:0;
  border-top:1px solid #737373;
}

#submit {
  background-color: #3e2828;
  color:#b297a0;
}

.score {
  color:#bdbdb9;
}

#div1 {
  display: none;
}

#div2 {
  display: none;
}

#div3 {
  display: none;
}

#div4 {
  display: none;
}
