<style>
    body {
        background-color: orange;
        font-family: Helvetica;
    }

    #main {
        width: 80%;
        max-width: 950px;
        border: 1px gray solid;
        margin: auto;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }

    #header {
        margin-top: 0;
        border: 8px solid yellow;
        padding: 5px;
        height: 250px;
        background: orange;
        color: white;
        font-size: 200%;
        
    }
</style>
